*{
    color:#191919;
}

header {
    text-align: center;
    background-color: rgb(127, 220, 220);
}

.container{
    display: flex;
  
    flex-wrap: wrap;
    justify-content: space-around;
   text-align: center;
   padding: 20px;

}
.carrera {
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    border: 3px solid rgb(0,204,204);
  
 
}
select{
    text-align: center;
}
footer{
  margin:0;
    height: 400px;
    background-color: rgb(55, 51, 52);
}
.logoexactas{
    width:80%;
    margin: 40px;
}

@media (min-width: 750px){
    .carrera {
        margin-top: 40px;
        padding: 10px;
        width: 30%;
        border: 3px solid rgb(0,204,204);
      
     
    }
}